<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Alakajam!</title>
  <script src="static/scripts/styles.js"></script>
</head>
<body>
  <div id="app">
    <h1>Welcome to <span v-cloak>${siteName}</span></h1>
    
    <p><span class="fas fa-wrench"></span> Server started <b>{{ launchTime | relativeTime }}</b></p>
    
    <h2>Site name: <input v-model="siteName" /></h2>

    <h2>Entries: {{ entries.length }}</h2>

    <ul>
      {% for entry in entries %}
        <li>
          <b>{{ entry.title }}</b>
          {{ (' | ' + entry.description) if entry.description }}
        </li>
      {% endfor %}
    </ul>

    <img src="static/images/logo-v2.png" />
  </div>
  <script src="static/scripts/index.js"></script>
</body>
</html>